<div id="<%= dom_id visit %>">
  <p>
    <strong>Data:</strong>
    <%= visit.data %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= visit.status %>
  </p>

  <p>
    <strong>Checkin at:</strong>
    <%= visit.checkin_at %>
  </p>

  <p>
    <strong>Checkout at:</strong>
    <%= visit.checkout_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= visit.user_id %>
  </p>

</div>
