<div id="<%= dom_id answer %>">
  <p>
    <strong>Content:</strong>
    <%= answer.content %>
  </p>

  <p>
    <strong>Answered at:</strong>
    <%= answer.answered_at %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question %>
  </p>

  <p>
    <strong>Formulary:</strong>
    <%= answer.formulary_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

  <p>
    <strong>Visit:</strong>
    <%= answer.visit_id %>
  </p>

</div>
